<div class="row">
    <div class="col-md-12 col-sm-12">
        <nav class="navbar " style="background-color:#F2F8FC;">
            <img src="./assets/small_laptop.png" width="50" height="50" style="margin-left: 10px;">
            <h2 style="margin-right: 1420px;color: #00303f">TICKETING SYSTEM</h2>
            <h4 style="margin-left: 1550px;margin-top: -70px;">
                <i class="fa fa-info-circle" style="font-size:24px ; font-size:larger;margin-top:20px;color: #00303f"></i>&nbsp; Sales and Support
            </h4>
            <div style="border-right: 0.2mm solid black; height:60px;position: absolute;right: 17%;">
            </div>
        </nav>
    </div>
</div>