<app-header></app-header>

<div class="row">
    <div class="col-md-3">
        <nav>
            <ol class="breadcrumb" style="background-color: #F2F8FC;">
                <img src="./assets/laptop.png" width="20px" height="20px">
                <li class="breadcrumb-item ml-2" style="color: #AF473C;">Ticketing System </li>
                <li class="breadcrumb-item active">New Ticket Request</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8"></div>
    <div class="col-md-1 float-right col-sm-1 float-right col-lg-1 float-right col-xs-1 float-right">
        <button class="btn" style="font-size: larger;color: #00303f;font-weight: bolder;" (click)="GoTopage('registerform')"><i class="fas fa-angle-left fa-lg"></i>&nbsp;<b style="font-size: large;">Back</b></button>
    </div>
</div>
<div class="mt-4 offset-md-5">
    <img src="./assets/laptop.png" width="200px" height="200px">
    <h2 style="margin-left: -40px;margin-top: 30px;"><b>New Ticket Request</b></h2>
</div>
<div class="container container-md container-sm container-xl container-xs">
    <form style="margin-left: 180px;margin-right: 210px; margin-top: 40px;margin-bottom: 100px;">
        <div>
            <label style="color: #AF473C;"><b>Problem Statement</b>  &nbsp;<span class="text-danger">*</span></label>
        </div>
        <div class="form-group">
            <textarea rows="3" class=form-control>
            Can’t login to application
            </textarea>
        </div>
        <div style="margin-right: 400px;margin-top: 20px;margin-right: 350px;">
            <b style="color: #AF473C;">Select Module &nbsp;<span class="text-danger">*</span></b>
            <select class="custom-select">
            <option selected>Applictaion</option>
            <option value="1"></option>
            </select>
        </div>
        <div style="margin-left:500px;margin-top: -65px;">
            <b style="color: #AF473C;"> Priority &nbsp;<span class="text-danger">*</span></b>
            <select class="custom-select">
            <option selected>Select</option>
            <option value="1"></option>
             </select>
        </div>
        <div class="mt-3">
            <label style="color: #AF473C;"><b>Description(Guidelines & Conditions) </b> &nbsp;<span class="text-danger">*</span></label>
        </div>
        <div class="mb-4">
            <ckeditor [editor]="Editor" data=""></ckeditor>
        </div>
        <div>
            <button class="btn btn-sm " style="background-color:#1D8DA4;margin-left:550px;color: white;">
            <i class="fa fa-check" aria-hidden="true"></i>
                Submit
            </button>
        </div>
        <div style="margin-left:640px;margin-top:-31px">
            <button class="btn btn-sm" style="background-color: #AF473C;color: white;">
            <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;
            Reset
            </button>
        </div>
    </form>
</div>