<nav class="navbar " style="background-color:#F2F8FC;">
    <img src="./assets/small_laptop.png" width="50" height="50" style="margin-left: 10px;">
    <h2 style="margin-right: 1420px;color: #00303f;">TICKETING SYSTEM</h2>
    <h4 style="margin-left: 1500px;margin-top: -70px;">
        <i class="fas fa-user-circle fa-2x mt-4 ml-4"></i>&nbsp;&nbsp;M&nbsp; Yallamma
    </h4>
    <div style="border-right: 0.2mm solid black; height:60px;position: absolute;right: 17%;">
    </div>
</nav>
<div class="container-fluid">
    <div class="row mr-5">

        <div class=" col-md-2">
            <b>Status</b>
            <div class="form-group">

                <select class="custom-select ">
                        <option selected>All</option>
                        <option value="1"></option>
                        <option value="2">Server</option>
                        <option value="3">Application</option>
                    </select>
            </div>
        </div>
        <div class=" col-md-3">
            <div class="form-group">
                <b>Module</b>
                <select class="custom-select">

                        <option selected>All</option>
                        <option value="1"></option>
                        <option value="2">Рено</option>
                        <option value="3">Форд</option>
                    </select>
            </div>
        </div>
        <div class="input-group col-md-4 mt-4">

            <input type="text" class="form-control" placeholder="Search by Module Name" style="height:35px;">
            <div class="input-group-append">
                <button class="btn" style="height:35px;border: 1px solid gray;">
                <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <button type="button " class="btn btn-lg " style="height: 40px;border: 1px solid black; width: 7cm;" id="btn" (click)="GoTopage('editorpage')">
                    &nbsp;<i class=" fa fa-plus-circle " id="circle " >&nbsp;&nbsp;</i>New User Request&nbsp;
                </button>
        </div>
    </div>

    <hr style="border: 0.5mm dashed #D6D6D6;">

    <div class="text-center mt-3 mb-3">
        <b style="font-size: larger;">List Organization Ticket Request</b>
    </div>

    <table class="table" [svData]="details" #sv="svDataTable" [svRowsOnPage]="10" svSortOrder="asc">
        <thead>
            <tr>
                <th scope="col ">SL #</th>
                <th scope="col ">Problem Statement</th>
                <th scope="col ">Module</th>
                <th scope="col ">Priority</th>
                <th scope="col ">Status</th>
                <th scope="col ">Additional</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of sv.data;index as i ">
                <td>{{i+1}}</td>
                <td>{{d.problem}}</td>
                <td>{{d.module}}</td>
                <td *ngIf="d.priority=='High' ">
                    <div class="btn btn-danger ">
                        {{d.priority}}
                    </div>
                </td>
                <td *ngIf="d.priority=='Low' ">
                    <div class="btn btn-Info ">
                        {{d.priority}}
                    </div>
                </td>
                <td *ngIf="d.priority=='Medium' ">
                    <div class="btn btn-warning text-white">
                        {{d.priority}}
                    </div>
                </td>
                <td *ngIf="d.status=='In progress' ">
                    <div class="text-warning">
                        {{d.status}}
                    </div>
                </td>
                <td *ngIf="d.status=='Closed' ">
                    <div class="text-success">
                        {{d.status}}
                    </div>
                </td>
                <td *ngIf="d.status=='Assigned' ">
                    <div style="color: #1D8DA4; ">
                        {{d.status}}
                    </div>
                </td>
                <td *ngIf="d.status=='Open' ">
                    <div style="color: #00303f; ">
                        {{d.status}}
                    </div>
                </td>
                <td><a routerLink='/commentpage'>More...</a></td>
            </tr>
        </tbody>
        <tr>
            <td colspan="6 ">
                <p class="float-right ">
                    <sv-bootstrap-paginator></sv-bootstrap-paginator>
                </p>
            </td>
        </tr>
    </table>
</div>